 <form action="/posts/dashboard" accept-charset="UTF-8" method="post" id="create_posts" local="true">


    <label for="title">Título</label>
    <input type="text" name="post[title]" id="post_title">
    <label for="image_url">Imagen(url)</label>
    <input type="text" name="post[image_url]" id="post_image_url">
    <label for="content">spoiler</label>
    <input type="text_area" name="post[content]" id="post_content"> <br>
    <label for="content">Contenido</label>
    <input type="text_area" name="post[content]" id="post_content"><br>
    <input type="submit" value="Enviar" >
   
</form>
